body {
	margin: 0;
	padding: 0;
}

canvas {
	margin: auto;
	margin-bottom: 200px;
}
.instructions {
	font-size: 12px;
	text-align: justify;
	width: 800px;
	padding: 10px;
	margin: auto;
	border: 1px solid black;
	margin-bottom: 20px;
	margin-top: 20px;
}